---
import Nav from "../Nav.astro";
---

<div class="menu">
  <Nav />
</div>

<style>
  .menu {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--tertiary-700);
  }
</style>
