---
import Nav, { routes } from "../Nav.astro";

export interface Props {
  currentPath: routes;
}

const { currentPath } = Astro.props;
---

<div class="menu">
  <div class="wrapper">
    <Nav currentPath={currentPath} />
  </div>
</div>

<style>
  .menu {
    background: var(--tertiary-700);
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>
