<section class="questions">
  <h2>Questions?</h2>
  <div class="form">
    <input id="name" type="text" placeholder="Name" />
    <input id="email" type="text" placeholder="Email" />
    <textarea
      name=""
      id="comment"
      cols="30"
      rows="10"
      placeholder="Comment or Message"></textarea>
  </div>
  <button class="btn-msg">Click me</button>
</section>

<style>
  .questions {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 32px;
    background-color: var(--secondary-400);
  }

  .questions .form {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    min-width: 600px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px 16px;

    background: var(--primary-50);
    border-radius: 4px;

    display: flex;
    align-items: flex-start;
  }

  #comment {
    min-height: 100px;
  }

  .btn-msg {
    padding: 8px 32px;
    background: var(--primary-800);
    color: var(--light);
    border-radius: 5px;
  }

  .btn-msg:hover {
    background: var(--primary-900);
  }

  /* RESPONSIVE */

  @media only screen and (max-width: 768px) {
    .questions .form {
      min-width: 90%;
    }
  }

  @media only screen and (max-width: 540px) {
    .questions {
      padding: 48px 24px;
    }
    .questions .form {
      min-width: 100%;
    }
  }
</style>
