---
import CabinListing from "../components/CabinListing.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const title =
  "Mountain Cabins Utah vacation rentals - Sundance, UT & Eagle Point Ski Resort";
---

<BaseLayout title={title}>
  <h1>Our cabins and condos</h1>
  <CabinListing />
</BaseLayout>

<style>
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
</style>
