<section class="charity">
  <div class="wrapper">
    <h4>
      For Every Booking We Receive Directly Through This Website We Make a
      Donation to Kids Outdoor Zone.
    </h4>
    <img src="/img/kids.png" alt="Kids Dutdoor Zone" />
  </div>
</section>

<style>
  .charity {
    background: #9d7231;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    gap: 4em;
  }

  .charity h4 {
    color: var(--light);
    height: 100%;
    /* max-width: 540px; */
  }

  @media only screen and (max-width: 768px) {
    img {
      display: none;
    }

    .wrapper {
      flex-direction: column;
      gap: 2em;
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
</style>
