---
import Nav from "../components/Nav.astro";
---

<div class="header">
<Nav/>
  <p class="decorative-hero">Plan your perfect mountain vacation</p>
  <div class="phrase">
    <p>Book Luxury Cabins In Northern Utah</p>
    <p>Ski-In/Ski-Out Condos In Southern Utah</p>
  </div>
  <svg
    width="121"
    height="1"
    viewBox="0 0 121 1"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line x1="0.5" y1="0.5" x2="120.5" y2="0.5" stroke="#F4F9F4"></line>
  </svg>
  <button>BOOK YOUR STAY</button>
  <div class="search">
    <input type="text" placeholder="South, Utah" />
    <input type="date" name="" id="" placeholder="Check in" />
    <input type="date" name="" id="" placeholder="Checkout" />
    <input type="number" name="" id="" placeholder="Guests" />
    <button>Search</button>
  </div>
</div>
<style>
  .header {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    width: 100%;

    background-image: url("images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    color: var(--light);
  }
  .decorative-hero {
    width: 580px;
  }

  .header .phrase{
    text-align: center;
  }

  .header .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 24px;
  }
</style>
