---

---

<div class="header">
    <p class="decorative-hero">Plan your perfect mountain vacation</p>
    <div class="phrase">
        <p>Book Luxury Cabins In Northern Utah</p>
        <p>Ski-In/Ski-Out Condos In Southern Utah</p>
    </div>
    <svg width="121" height="1" viewBox="0 0 121 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.5" y1="0.5" x2="120.5" y2="0.5" stroke="#F4F9F4"/>
    </svg>        
    <button>BOOK YOUR STAY</button>
</div>
<style>
    .header{
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .decorative-hero{
        font-weight: 700;
        font-size: 64px;
        line-height: 72px;
        /* or 112% */

        text-align: center;
        letter-spacing: -0.02em;

        width: 580px;
    }
</style>