---
import MountainHome from "./svgs/MountainHome.astro";
---

<div class="host">
  <div class="wrapper">
    <div class="img-text">
      <div class="img">
        <p class="name-host host-1"><b>Pamela McCue</b></p>
        <img src="/img/host.png" alt="Pamela & Lynn" />
        <p class="name-host host-2"><b>Lynn Jenkins</b></p>
      </div>
      <div class="content">
        <h2>About Your Hosts</h2>
        <div class="text">
          <p>
            Mountain Cabins Utah, is a dream realized by Pamela McCue and Lynn
            Jenkins. Lynn was raised in Springville Utah, enjoying time in the
            mountains hiking and dreaming of one day building a life in
            Sundance. Pamela, coming from Austin TX, was introduced to Sundance
            in 2000, and immediately fell in love with the landscape and with
            Lynn’s vision of future possibilities. Now they have both exceeded
            their dreams and are passionate about sharing their extraordinary
            circumstances with those around the world. Their hope is that you
            will come visit, experience the beauty of the mountains and breathe
            in the splendor of Mother Nature.
          </p>
          <p>
            Properties that Make a Difference is an LLC that was created by
            Pamela and Lynn, with the intention of giving back to those in need.
            Both coming from modest means and understanding the importance of
            giving back to the community, they are doing what they can to give a
            helping hand. The LLC will be donating a percentage of each rental
            to a community service or non-profit organization that focuses on
            education and other areas that help build a strong foundation for
            individual and community growth. The wonderful part of all this is
            that when you rent a cabin from Pamela and Lynn, you become a part
            of their community in creating positive change, and opportunities
            for a better world!
          </p>
          <p class="phrase">We can’t wait to meet you!</p>
        </div>
      </div>
    </div>

    <div class="background">
      <MountainHome />
    </div>
  </div>
</div>

<style>
  .host {
    background-color: var(--secondary-400);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7em;
    padding-bottom: 7em;
  }

  .host .background {
    position: absolute;
    display: block;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-end;
  }

  .host .img-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
    z-index: 20;
  }

  .img-text .img {
    min-width: 40%;
    display: flex;

    align-items: center;
    justify-content: center;

    position: relative;
  }

  .img .name-host {
    text-align: center;
    position: absolute;

    width: 64px;
  }

  .img .host-1 {
    top: 64px;
    left: 24px;
  }

  .img .host-2 {
    bottom: 72px;
    right: 16px;
  }

  .host .mountain {
    position: absolute;
    height: 50%;
  }

  .host .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 32px;
  }

  .content .text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
  }

  .text .phrase {
    padding: 4px 16px 12px;
    font-weight: 500;
    border-width: 1px 0px;
    border-style: solid;
    border-color: var(--primary-900);

    color: var(--primary-900);
    font-family: var(--font-heading);
    font-size: 20px;

    width: fit-content;
  }

  @media only screen and (max-width: 1024px) {
    .host .img-text {
      gap: 0px;
    }

    .img .host-1 {
      top: 52px;
      left: 20px;
    }

    .img .host-2 {
      bottom: 64px;
      right: 16px;
    }
  }

  @media only screen and (max-width: 920px) {
    .host .img-text {
      flex-direction: column;
      gap: 32px;
    }

    .img-text .img {
      width: 400px;
    }
  }

  @media only screen and (max-width: 460px) {
    .host .img-text {
      flex-direction: column;
    }

    .host .content {
      padding: 0px;
    }

    .img-text .img {
      width: 300px;
      font-size: 14px;
      line-height: 1.2;
    }

    .img .host-1 {
      top: 40px;
      left: 8px;
    }

    .img .host-2 {
      bottom: 52px;
      right: 8px;
    }
  }
</style>
