---
export interface Props {
  currentPath: routes;
}

const { currentPath } = Astro.props;

export type routes = "/" | "cabins" | "about-us";

function activeClass(activePath: routes, path: routes) {
  return activePath === path ? "active" : "";
}
---

<nav class="wrapp">
  <a href="/"><img class="logo" src="/img/logo-white.png" alt="logo" /></a>
  <ul>
    <li><a href="/" class={activeClass(currentPath, "/")}>Home</a></li>
    <li>
      <a href="/cabins" class={activeClass(currentPath, "cabins")}>Cabins</a>
    </li>
    <li>
      <a href="/about-us" class={activeClass(currentPath, "about-us")}
        >About us</a
      >
    </li>
  </ul>
</nav>

<style>
  .wrapp {
    max-width: 1120px;
    margin: 0 auto;
  }

  .wrapp .logo {
    max-height: 64px;
  }

  nav {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;

    width: 100%;
  }
  nav ul {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

    list-style: none;
  }

  ul .sub-item {
    background-color: rgba(0, 0, 0, 0.25);
  }

  nav li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 8px;
    display: block;
  }

  nav li a.active {
    text-decoration: underline;
  }

  nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
  }

  nav li:hover > ul {
    display: block;
  }

  nav li ul li {
    position: relative;
  }

  nav li ul li ul {
    right: -140px;
    top: 0px;
  }

  @media only screen and (max-width: 480px) {
    .logo {
      height: 48px;
    }

    nav > ul {
      gap: 8px;
    }
  }

  @media only screen and (max-width: 350px) {
    .logo {
      height: 40px;
    }

    nav > ul {
      gap: 0;
    }
  }
</style>
